
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<h1>Help</h1>
<h2>Table of Contents</h2>
<ul>
    <li><a href="#rules">Rules of Limit Heads Up Texas Holdem' Poker</a></li>
     <li><a href="#howto">How to Play</a></li>
    <li><a href="#problems">Errors and Problems</a></li>
</ul>
<h3><a name="rules">Rules of Limit Heads Up Texas Holdem' Poker</a></h3>
<p></p>
<ol>
    <li>Preflop<ul>        
        <li>
            Blinds: The first round of play is the preflop.  In this round, two 
            players will post an ante, or "blind".  Typically in Texas Hold'em the 
            player to the left of the dealer pays the small blind, which is one half 
            of the big blind, and the next player pays the big blind.  When there are 
            only two players, this is reversed, with the first player paying the big 
            blind and the dealer paying the small blind.  This allows the dealer to 
            be the first to act in heads-up play.  The players are then dealt two 
            face down hole cards.  These cards are private cards and can only be used
            by the player holding them to make hands.<br><br>
        </li>
        <li>
            Betting: Next comes the betting for this round.  The dealer will start
            this betting round with the option of calling the difference between the small
            and big blind, raising the big blind by the small bet (the small bet is the
            size of the bet in limit for the first two rounds) or folding thier hand.
            In this special round of betting, if the dealer only chooses to call, the 
            big blind is given the option to check this amount, proceeding to the next
            round of play or to raise the amount by a small bet.  If they choose to raise
            the betting will continue until a player calls the amount, folds, or the maximum
            amount of bets is reached.  For this particular game, the amount is 3/3/4/4
            for each of the four rounds.
        </li>
    </ul></li>
    <li>Flop<ul>        
        <li>
            In this round, three community cards are dealt to the board.  These cards
            are face up and can be used by any player to make hands.  In this round, 
            and subsequent rounds, the player to the left of the dealer will start.  
            This leaves the dealer with the last action, refered to as being on the "button".  
            Each player then may check thier bet if one hasn't been made, raise the pot by the
            small bet, or fold thier hand.  Like the preflop, the round ends when all players
            have either called or fodled thier hands.
        </li>
    </ul></li>
    <li>Turn<ul>        
        <li>
            The turn round deals one more card to the board, totalling four.  Just as in 
            the flop round, the player to the left of the dealer may start the betting.
            The turn in our game has now increased the bet size of a raise to the big bet, 
            which is typically two times the small bet, as well, we may make four bets this 
            time before being forced to call or fold.
        </li>        
    </ul></li>
    <li>River<ul>        
        <li>
            The river is the final round.  The last board card is now dealt to the 
            board, leaving a total of five community cards and two hole cards for each 
            player.  After the card is dealt, the last round of betting commences.  In 
            this round of betting, if more than one player does not fold, then those players
            will see a showdown.
        </li>
    </ul></li>
    <li>Showdown<ul>        
        <li>
            The showdown is a round where there is no betting or new cards.  All players
            remaining in the pot reveal their hands to one another, starting with the last
            person to make a bet.  If no bets were made in the last round, the player to the
            left of the dealer will start.  In some variants players that know they have lost
            once other players have shown a stronger hand may much thier cards, that is fold 
            them without showing.  This game does not allow that.  Once the players have 
            shown thier cards, a winner is decided.  The winner is the player with the best 
            five card hand that can be made with the seven cards available to them, five on the 
            board and thier two private cards.  If there is a tie, the pot is split amongst 
            the winners based on how much money each contributed to the total pot.  In two player 
            heads up, this will be even.<br><br>
        </li>
        <li>
            The ranks of hands are as follows from best to worst
            <ol>
                <li>
                    Straight Flush - All cards of the same suit in sequence.  eg: As 2s 3s 4s 5s
                </li>
                <li>
                    Four of a Kind - Four cards of the same rank. eg: Js Jd Jh Jc 10c
                </li>
                <li>
                    Full House - Three of a Kind and a Pair.  eg: 7s 7h 7d 2c 2d
                </li>
                <li>
                    Flush - All five cards of the same suit. eg: As Js 10s 8s 2s
                </li>
                <li>
                    Straight - All five cards in sequence. eg: 4s 5c 6d 7h 8c
                </li>
                <li>
                    Three of a kind - Three cards of the same rank. eg: Ks Kh Kd 4h 3c
                </li>
                <li>
                    Two Pair - Two sets of equal ranked cards. eg: Qs Qd Js Jh 6d
                </li>
                <li>
                    One Pair - Two cards of equal rank. eg: Qs Qh 10s 9h 3d
                </li>
                <li>
                    High Card - Highest card in the hand. eg: As Jc 6h 3d 2c
                </li>
            </ol>
        </li>        
    </ul></li>
</ol>
<h2><a name="howto">How to Play</a></h2>
<p>
    There are a few components to the Swordfish GUI that you might need to know.
    </p>
<p>
    1. Interface: On the table, you will notice 3 buttons.  Fold Call and Raise x.  These buttons perform each of the
respective actions.  There is also a shortcut for each one by pressing ALT-(F, C or R).
</p>
<p>
    2. The console and log: Below the table is the log.  Here all of the actions that have passed in the game will appear.
    you may also type text into the log, but as of this implementation, there will be no use chatting with Polaris.    
</p>
<p>
    3. Exiting the game.  You may close down the game at any time, but if you have made at least one action, you will
    be forced to forfiet the hand.  You may quit at the beginning of the hand with no penalty.
</p>
<h2><a name="problems">Errors and Problems</a></h2>
<p>
    This program requires Java 5.  Java 5 is freely available and is installed on most newer computers already.  Please
    go to java.sun.com for more details.
</p>
<p>
    If for some reason the server is down for a prolonged period of time or you cannot get the game to load, please contact
    the administrator of the program.
</p>
</html>